/* Foodlette dialogue-box Cascading Style Sheet */
#createAccount {
  background-color: #5fb709;
  float: var(--align-right);
}

#guest {
  background-color: #FFFFFF;
  float: var(--align-left);
}

#login {
  position: relative;
  bottom: 25px;
}








.dialog-root {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  overflow-x: auto;
  height: 100vh;
  z-index: 900;
  width: 100vw;
  display: none;
  justify-content: center;
}

.dialog-root article {
  padding: 1.5em;
  display: block;
}

.dialog-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.25;
  z-index: 899;
  margin: 0;
  padding: 0;
  border: 0;
}

.dialog-container {
  position: relative;
  background-color: #FFF;
  border-radius: 0.5em;
  border-width: 0px;
  border-style: solid;
  width: 600px;
  height: 350px;
  z-index: 901;
}

.dialog-choice {
  height: calc(100% - 3em);
  width: calc(100% - 3em);
}

.dialog-header p, h1 {
  text-align: center;
  position: relative;
  color: #000;
}

.flavour-text {
  position: relative;
  top: -40px;
}

.close-box {
  position: relative;
  top: -15px;
  left: 0px;
  font-size: 36px;
  color: #000;
}

.dialog-header a:hover {
  color: #5fb709;
}

.option-boxes {
  width: 200px;
  height: 100px;
  margin: 10px 30px 10px 30px;
  border-radius: 0.25em;
  border-width: 1px;
  border-style: solid;
  border-color: #444444;
  z-index: 902;
  overflow: hidden;
  bottom: 40px;
  position: relative;
  cursor: pointer;
}

.option-boxes p {
  margin: auto auto;
  font-size: 24px;
  padding: 10px;
}








/* -------------------- */
.creation-container {
  position: relative;
  background-color: #FFF;
  border-radius: 0.5em;
  border-width: 0px;
  border-style: solid;
  width: 600px;
  height: 700px;
  z-index: 901;
}

.left {
  float: left;
}

.right {
  float: right;
}

