/* Root Cascading Style Sheet */
:root {
  --bg-white: #FFF;
  --bg-fl-green: #5FB709;
  --align-left: left;
  --align-right: right;
  --align-center: center;
  --inline-block: inline-block;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif, 'Acme';
}

.display-flex {
  display: flex;
}

.justify-content {
  justify-content: center;
}

.vertical-margin {
  margin: auto auto;
}

.view-icon {
  cursor: pointer;
}
